In [1]:
import os
import pandas as pd
import numpy as np
import datetime

if not os.path.exists('aircraft.csv'):
    !wget https://github.com/sudakov/lab_it/raw/master/aircraft.csv
if not os.path.exists('airports.csv'):
    !wget https://github.com/sudakov/lab_it/raw/master/airports.csv
if not os.path.exists('cargo transportation.csv'):
    !wget https://github.com/sudakov/lab_it/raw/master/cargo%20transportation.csv
if not os.path.exists('passenger transportation.csv'):
    !wget https://github.com/sudakov/lab_it/raw/master/passenger%20transportation.csv

In [2]:
aircraft_df = pd.read_csv('aircraft.csv', sep=';')
airports_df = pd.DataFrame(pd.read_csv('airports.csv', sep=',').values, 
                           columns=['аэропорт', 'документ', 'компания', 'категория'])
cargo_df = pd.read_csv('cargo transportation.csv', sep=';')
passenger_df = pd.read_csv('passenger transportation.csv', sep=';')

### 1. Постройте список уникальных типов самолетов зарегистрированных в России

In [3]:
aircraft_df.head()

  Вид воздушного судна  ... дата действующего свидетельства о регистрации
0              самолет  ...                                    11.03.2012
1            дельталет  ...                                    16.03.2012
2              самолет  ...                                    02.06.2006
3            дельталет  ...                                    16.03.2012
4              самолет  ...                                    07.04.2008

[5 rows x 7 columns]

In [4]:
def get_unique_planes():
    return set(aircraft_df['Тип (наименование) воздушного судна'].values)
get_unique_planes()

{'АХ-7 "Яхрома"',
 'Грэй',
 'ВС-18Т',
 'УС-15М3 "Харлей"',
 'Кардинал',
 'Ан-74Д',
 'Алуэт II ВЧ',
 'НС-3',
 'EA 300/SCE',
 'VS-1',
 'Ан-26БРЛ',
 'Zlatik-150M',
 'Д-140',
 'B-33-D',
 'CN-150M',
 'Ан-24Б',
 'Ан-12БК',
 'Амик-10',
 'НС-1',
 'Литл-Джет-186',
 'Мермейд',
 'Кинетик',
 'АХ-8 Алый парус',
 'Christen Eagle-2',
 'Як-18Т 36-ой серии',
 'ФВС',
 'Миротворец',
 'C1-172B',
 'Р-16ВС-1',
 'АХ-7 ДОСААФ РОССИИ',
 'РА-28',
 'С182',
 'Ан-124',
 'Акбар',
 'Trixy Princess G 4-2',
 'С22В Икарус',
 'М-24С "Орион"',
 'А-27-М-4',
 'Л-42М "Игл"',
 'DA-40F',
 'БЛАНИК',
 'Discus',
 'АХ-8 Бриз',
 'Салют',
 'Севастополь',
 'БЕКАС 102',
 'TWIN-A',
 'СП-77',
 'NG-46',
 'Skymaster A-337',
 'Гриф',
 'Як-18ТК',
 'TL-2000 STING carbon RG',
 'Ми-8ПС-11',
 'Антарес-2',
 'СП-39УТА',
 'Аэропракт А-22',
 'Зет-326',
 'Скат',
 'Л-13Б',
 'МД-50',
 'EC 120 B',
 'Л-4',
 'AC-5M',
 'Бриз М',
 'М-18Т',
 'Centurion PA-28',
 'АХ-7 Праздник',
 'С-2СХ"Синтал"',
 'Арго-02цм',
 'Centurion C-172',
 'TANARG 912',
 'МД-50ГДС',
 'АХ-7 Независимость',
 'КАЛИДУС-L',
 'АХ-8 Пятый океан',
 'СП-36УТ',
 'Бриз',
 'Sport Star Plus',
 'AS-355F2',
 'ДЖОНИ',
 'Казачок 16',
 'Gazelle SA-341G',
 'Bell 205A-1',
 'С42В',
 'Jonathan',
 'SPORTSTAR',
 'Skyboy',
 'ГУСЬ-1',
 'Ан-74',
 'Калибус-912КР',
 'РУСЬ',
 'КР-11',
 'MDM-1 FOX',
 'АХ-8 Президент',
 'МД-50С-03',
 'Красный Кардинал-177',
 'ПТЕНЕЦ АВК',
 'Шмелк',
 'Skywagon',
 'Л-42М СТЕРХ',
 'Авиатика-МАИ-890СХ',
 'NG-4 НИОЛ-3',
 'АХ-7 Небо Сибири-Тюмень',
 'Cessna C-172D',
 'Казачок 014',
 'Ил-103',
 'Икарус С42В',
 'PC-12/47',
 'SCHEIBE SF25A',
 'Практик-С',
 'СП-34К',
 'ДЛ-1',
 'PA-23 Aztec',
 'АХ-7 Кухниспаркс',
 'Че-29А1',
 'АХ-8 "Детский мир"',
 'Твинастир',
 'ЭКЛИПС',
 'Еким',
 'АХ Radio Galaxy',
 'GAZELLE HT.MK2',
 'АХ-7 Чайный путь',
 'Сапсан Ф-007',
 'Странник',
 'Л-13А',
 'ЧЕ-22-КД',
 'АХ-8 Слейпнер',
 'A-119 Koala',
 'АХ-8 Факел',
 'SPORTCRUIS',
 'АХ-8 "Сердце"',
 'Stemme S 12',
 'Ка-26',
 'УТ-2Б',
 'ТЛ-2000Ш',
 'СН-650',
 'Сорокопут',
 'Ан-32',
 'Goos',
 'Че-25С',
 'BK-117B-2',
 'РА-161',
 'CF-172H',
 'Bell-206B-III',
 'Cessna 150 LNS',
 'Л-13 "Бланик" 026822',
 'Стандарт Циррус',
 'Як-52У',
 'АХ-8 Уральский',
 'LA-4200',
 'И-153 "Чайка"',
 'Питенполь',
 'Rк-12а "Александр Невский"',
 'Птенец-2А',
 'C-164',
 'Ц-182П',
 'A36TC "Bonanza"',
 'Cessna-172m',
 'СП-38УТА',
 'Cessna F- 172-H',
 'АГАТ-01',
 'Savage Cub',
 'Ми-8ПС',
 'АН-2Б',
 'STOL CH-801-M',
 'Зодиак СН-601ТМ',
 'Бичкрафт 33',
 'М-24 С 1 "Орион"',
 'ПТЕНЕЦ-2УЛ',
 'Галс-5',
 'Ан-12',
 'К1',
 'Пеликан-2Б',
 'Медведь',
 'Cessna-172D',
 'C-210F',
 'МТО СПОРТ-912 ВКВ',
 'JANTAR STANDART - 2',
 'Р 2002 ШВ Сиерра',
 'Фаворит',
 'Злин-142',
 'Cessna 525 Citation Jet',
 'АХ-7 Ханты-Мансийск',
 'Cessna-525',
 'Luscombe 8A',
 'Ежик',
 'С-002',
 'Бирхок Патруль',
 'Ан-12ТБ',
 'ХОНДАЛЕТ',
 'Тулпар-182Т',
 'С150-М1',
 'Ту-134А-3',
 'Cherokee-28',
 'C172R-04',
 'СП-46',
 'GP 14E VELO 1',
 'Принцесса Трикси',
 'УС-15М3 "Кармэн"',
 'АХ-9 Архангельск',
 'П-2С Акробатмастер',
 'КВ-52',
 'АХ-8 Цвета радуги',
 'Astra-44',
 'СТ-27',
 'ЕХ-350',
 'Yak-52',
 'Болан',
 'Ан-3Т',
 'АТ104 модель 80ТА "Классика"',
 'Мотопланер Бланик М',
 'ZLIN 142',
 'Ирис-206',
 'АХ-7 Yarilo-Club',
 'Альбатрос-2',
 'Cessna F172',
 'PA2814028-7325205',
 'Л-200Д',
 'Цикада',
 'МД-КФ',
 'МД-50П',
 'AS-355NP',
 'JANTAR STANDARD',
 'Ц-172М',
 'По-2ВС',
 'EVROSTAR SL',
 'Ил-76',
 'СП-48',
 'Л-29 Центурион',
 'E 330 LXK',
 'Л-42М СТЕРХ-1',
 'Ан-32А',
 'АХ-7 ВЗЭФ',
 'Синица-7',
 'ZLIN-42M',
 'ХАИ-48',
 'Z-142Б',
 'ММ-330',
 'Стрекоза 7М',
 'Eagle-2',
 'МД-50к',
 'J 450',
 'МД-50С Пегас',
 'Аэропракт-22LS',
 'GROSS',
 'Ск-12т6 Орион',
 'С-185 "Медведь"',
 'АХ-8 Черная кошка',
 'DYNALI H2S',
 'СП-38АК',
 'Егерь',
 'TANARG 912S ULM 74AED',
 'Икар',
 'А-22 Аэропракт',
 'АХ-7 "Тривел"',
 'Ф-32 "Агро"',
 'Небесный',
 'СП-30П',
 'Патруль-05',
 'Ан-148-100Е',
 'Бражник',
 'Ту-204С',
 'АС-5',
 'МУХА',
 'СП-24',
 'Таурус М',
 'С-182Р',
 'Ан-30Д',
 'NG 5 STORM',
 'Стриж-03',
 'АХ-8 Екатерина',
 'Афалина',
 'КОСМОС- М1',
 'PA-28-181',
 'АТОМ',
 'БП-1 Турухтан',
 'PA-32R-301',
 'Практик А',
 'NG 5 Beetle',
 'Ту-204-100В-04',
 'Стриж 03-912',
 'Л-39',
 'EX-360',
 'МД-2 Багира',
 'Фермер-2',
 'АХ-8 "Классика"',
 'B-757-200',
 'калидус 03',
 'PA-46-500TP',
 'Че-29А3',
 'PC-12/45',
 'Ка-226',
 'Стимул-024',
 'GYRO-SPRINT',
 'CH-701 "STOL"',
 'АХ-8 Бия',
 'PZL Koliber',
 'Gulfstream GVI (G650)',
 'Стрекоза',
 'М-7',
 'ЭКОСПАС',
 'Dag-555',
 'Calidus',
 'Корвет-Б3',
 'Harmony',
 'PZL-104 Вильга-35А',
 'АЛЕКС 251',
 'NG-4',
 'Super Maule 720',
 'Ми-2М',
 'Rainbow',
 'С-182SD',
 'BB30Z',
 'А-002М',
 'Wilga 2000-1',
 'С-176 Фламинго',
 'СП-30 Сапсан',
 'Blanik L-13',
 'L-250',
 'АХ-8 Венок русских усадеб',
 'RRJ-95B',
 'CompAir Шмёлл',
 'АХ-7 Чайка',
 'Че-29Б2',
 'Dynamic-WT-9HK',
 'C-182SC',
 '80ТА',
 'Zet-42',
 'Аист-410М',
 'Пилигрим-06',
 'РТ-38',
 'Ястреб',
 'IKARUS C42B-3',
 'Вильга 35А14',
 'РЕМЕЗ-1',
 'Сокол-АМ-01',
 'С-300СВ',
 'DA20/100 Katana',
 'АХ-7 ГАЗПРОМ',
 'Calidus Black Hawk',
 'СП-30 Ирбис',
 'NG-48',
 'АХ-8 Heart',
 'Птенец-2мт',
 'KP-2U SOVA',
 'СТ-25',
 'Ил-18В',
 'АХ-7 Первый',
 'Корвет-J2',
 'НВ-02',
 'РА-28-140',
 'В-35.2004',
 'Ил-14',
 'СТРИЖ С182',
 'Новик-КПС',
 'БЕКАС',
 'АХ-8 Алтай',
 'Robin DR-360',
 'Навигатор.',
 'Z-142SJ',
 'АХ-7 "Барбадос-Спорт"',
 'FROGGY',
 'Ил-76МД',
 'P2002 Sierra RG de Luxe',
 'Х-34',
 'GN-155.03',
 'КМД-50',
 'Комарик',
 'Авиатика-890СХ',
 'Л-42М Синяя птица',
 'GROB G 103 A "TWIN II ACRO"',
 'Ил-62',
 'BB26',
 'Ан-24РВ',
 'Clipped Wing Cub',
 'Sierra C24R',
 'L-410 UVP-E20',
 'C-172 IR',
 'АМК-5',
 'АХ-8 "Близнецы"',
 'B-23-S',
 'СП-30ИК "ЧИЖИК"',
 'ИМ-180',
 'Вимана',
 'МД-50СП',
 'Аэропракт-22Л2',
 'DA20-A1',
 'TANARG 912S ULM 39LC',
 'Че-257',
 'L-13 SE Vivat',
 'Ан-24РТ',
 'ГЗ-1 "Эдельвейс"',
 'Химик-Х2УМ',
 'БелкАН-01',
 'АХ-8 Сердце Великого Новгорода',
 'AX-8 "Бикин"',
 'Сталкер',
 'Х320',
 'МВ 223 "Фламинго"',
 'УТС-МС893А',
 'Че-27М2 СА-002',
 'СП-30Z',
 'Cessna 336',
 'Питер ВМЦ-100',
 'Z-42NG',
 'Полюс',
 'ЛС 4',
 'GM-17 Viper',
 'Форсаж-ПФ',
 'Марчети 205',
 'Поиск-06ПП',
 'Июль-2',
 'P2006T',
 'АХ-8 "АРИСТОКРАТ"',
 'MD-900',
 'Спутник-3',
 'АХ-8 Кедр-Kodak',
 'Стимул-030',
 'СП-92',
 'RV-10',
 'Корвет-К3',
 'BB22',
 "SZD-48-3 'Jntar-Standart 3'",
 'РОМАНОВ',
 'Август',
 'МК 192',
 'Тунгус',
 'Т-18МН',
 'Cessna-182P',
 'AEROS-2',
 'Фермер',
 'C172R-06',
 'АХ-8 Рязань',
 'A-22RT',
 'ВИТЯЗЬ',
 'АС-777',
 'Cetus-702',
 'FALCON-7X',
 'Чероки-28',
 'BB37N',
 'Сапсан-2',
 'Х-32 Бекас "Призрак"',
 'Орлан',
 'C172H0582',
 'Вальдо',
 'НС-2',
 '"ЯНТАРЬ СТАНДАРТ 3" В-1948',
 'Ц172Е',
 'AS-105GD',
 'КОЛИБРИ',
 'FB-582-2',
 'LARK',
 'СП-55ПФ',
 'АХ-8 Красный',
 'Ветер А15М',
 'ViAL',
 'МТО Спорт-912Б',
 'СВ-32',
 'УС-15М2',
 'Як-52Н',
 'B-737-236',
 'СН-750',
 'ПЗЛ-101А',
 'Пеликан-4А',
 'АХ-8 АэроНаТЦ-2550',
 'Ан-38-100',
 'BK-117C-1',
 'В-35',
 'МД-50 Ока',
 'Polo-2-001',
 'C-170A',
 'МАИ-223М',
 'Милорад',
 'Генерал',
 'MAULE MXT-7-180',
 'АХ-7 Аэропорт',
 'СМ-94-1',
 'CESSNA-172W',
 'Корвет-К',
 'САПСАН',
 'МД-50ВС',
 'Bonanza F33A',
 'CESSNA-150F',
 'BLACK JET',
 'Поиск-06СХС',
 'C-182WA',
 'Socata Trinidad TB-20',
 'Z-142BM',
 'APOLLO DELTA JET',
 'Коммодор',
 'Бекас-1',
 'JF 91D',
 'Стриж-1',
 'Л-200А Морава',
 'ПЗЛ-104 И-35 Иволга-35М',
 'CF182H',
 'PAK-172D',
 'Cetus 710',
 'C-172P',
 'МД-50 Крома',
 'АХ-7 Пермский край',
 'Як-12СЕ',
 'Чайка-U206',
 'Cameron Balloons N-90',
 'СТВ-35А',
 'Ан-26',
 'СК-12т5 Орион',
 'NG-4 НИОЛ-2',
 'Торга-1',
 'SportCruiser',
 'FORECASTER',
 'Т-10 КАЙРА',
 'NP-18-2P',
 'Р 2002 П "Сиерра"',
 'Х-32 Бекас-АC',
 '001 Лена',
 'ВМБ 59 Арктур',
 'Piper L-4',
 'L-13SE Vivat',
 'СН-801',
 'РЫЖИК',
 'АВС-01',
 'МС-893',
 'ТБ-10',
 'Леон',
 'Зодиак 601 УМЛ',
 'Л-6СВ',
 'С-172ХР',
 'HELIO H-295',
 'П2002 Сиерра',
 'Ми-8ТП',
 'Барракуда',
 'C-172G',
 '150Л Цессна',
 'АХ Другие подарки',
 'EA-300',
 'А-27М4',
 'Фандор',
 'АХ-8 Паладин',
 'АТ104 модель 70ТА "Классика"',
 'Як-54',
 'Cessna T182T',
 'АС-2 Сигма',
 'Х-32 "АИСТ"',
 'С-400 Капитан',
 'Аист-07',
 'Стерх-С1',
 'МД-20ДИ',
 'Арчер',
 'По-2А',
 'М5-235С',
 'Фермер-4',
 'СП-30З О',
 'CF-150K',
 'MAULE',
 'WarriorII',
 'Лайка',
 'Викинг-150',
 'СВП-207Т',
 'АХ-8 "СЕРДЦЕ КУБАНИ"',
 'Х-32 Авангард',
 'С-152',
 'BD-100-1A10 (CL-300)',
 'Lake Buccaneer',
 'АХ-8 Колибри',
 'А-33М',
 'ТЛ-2000',
 'УС-15М4 "Калибри"',
 'СН-701Т',
 'TUNDRA 300',
 'АС-11',
 'ЛУНЬ-Б',
 'Nimbus-2000',
 'СП 250',
 'РейнджерВВ',
 'СМ-92',
 'АХ-7 Солярис',
 'АХ-8 Аэролама',
 'А-890',
 'АХ-8 Классика',
 'RV-7',
 'Су-31МХ',
 'Н800',
 'Л-44 Танаис',
 'C-T206F',
 'МД-50УТ',
 'P2002-JF CS/VLA',
 'Л-42М',
 'АЛГА',
 'R-550',
 'Yak-18T',
 'АТ104 модель Х100ТА',
 'Альбатрос.',
 'КАВ-44',
 'СП-30бви',
 'АХ-8 Пробка',
 'МД-50 МН',
 'Aeroprakt-22L2',
 'СП-33',
 'Л-13',
 'МП СГГ',
 'TL 2000 Sting S4',
 'Славутич-УТ',
 'Корвет-2',
 'РУС 1',
 'Сигма-4 Баваль',
 'Л-42 Лебедянка',
 'Cessna 172E',
 'JANTAR STANDARD 3C-HAWK',
 'АХ-7 Ромашка',
 'Сиерра 200',
 'Ла-4',
 'AS 350 BA',
 'Альбаз',
 'Либерти',
 'RC-112',
 'Гепард',
 'NG 5 BRM',
 'АТ104 модель 902ТАСП',
 'Cetus 900',
 'Х-32 "Бекас-Соло"',
 'ТВС-2МС-31',
 'Беркут',
 'МТО Спорт "Сарма"',
 'Вайпер-29',
 'Sunny',
 'Злинн-42М',
 'МИР',
 'ШАГ-150 "Белый Ветер"',
 'COBRA-15-36',
 'CL-600-2B16 (CL-605)',
 'МТО Метла',
 'Х-32 B-5 "Бекас"',
 'AG-55',
 'Д-360',
 'SA-341',
 'Як-12АЖ',
 'DO-27',
 'СМ-18Т',
 'Химик 006 В14.03.02.007S',
 'С-182К',
 'CТРИЖ',
 'ТРИКСИ ЛИБЕРТИ',
 'Кронавиа-7',
 'Cessna-172E',
 'SKY',
 'АС-7М',
 'Корвет-26',
 'Х-32 B-3 "Бекас"',
 'Цикада-СБ',
 'АХ-8 Премьер',
 'Элитар-Сигма С4Е-007',
 'А-1 Авангард',
 'С-182TD',
 'Ил-96-300',
 'Cetus-1000',
 'СР-32',
 'СП-30ZM',
 'Commuter-151',
 'EV-97R EuroStar',
 'YR-2',
 'ORLY-01',
 'Т-18',
 'АХ-8 ФантоМ',
 'CE-172',
 'А-44',
 'Урал-Р16',
 'СВС-16',
 'С-182М',
 'FO-2R532',
 'РА-28-180',
 'Х-32 "Выша"',
 'C-52',
 'МДФ-026',
 'Х-32 Снегирь',
 'СП-34НГ',
 'AW109C',
 'Pilatus PC-12/45',
 'Я52',
 'Че-259',
 'Ми-2ОАН',
 'L-200D',
 'Скайрейнджер',
 'УТ-18М',
 'Ил-76Т',
 'Братишка',
 'GYRO-GT',
 'АХ-8 "Пламя"',
 'Поиск-06НТ',
 'ТВС-2ДТ',
 'Фактор 21с',
 'BBP-45',
 'РВ-9А',
 'STB-20',
 'С-172',
 'А-22МК',
 'A-211GX',
 'Пионер-УТ2',
 'СП-38у',
 'Zlin Z 37 T',
 'М-520 В',
 'Bell-430',
 'Пионер-УТ4',
 'Cessna 421A',
 'СА-1',
 'Л-29_',
 'JANTAR STANDARD 2E-KITE',
 'EUROSTAR SLW',
 'АХ-9 REAL',
 'Эклипсе',
 'СП-26',
 'CESSNA-182',
 'Ту-204-100В',
 'Калидус 912-Ж',
 'Грач-ДШ',
 'Cavalon',
 'Химик 006 В14.03.02.008S',
 'Ан-2',
 'Су-31',
 'Стимул-МК',
 'КВ-12М',
 'Феликс',
 'Альбатрос-01',
 'Фермер-1',
 'СП-30УТ "Вилорик"',
 'Ascent',
 'АХ-8 Аэронавт-2550',
 'СМ-2000П',
 'Z-142AP',
 'Форсаж-1',
 'СА-8',
 'Бюкер-131С',
 'Стриж',
 'РУСАК',
 'СХ-55',
 'МД-50 Ласточка',
 'Л-29Д01',
 'АК-66',
 'Шмель',
 'Ил-103А',
 'Z-326',
 'Аэропракт-22ЛМ',
 'Морава-200А',
 'L-410 MA',
 'COBRA',
 'X-32 B-1 "Бекас"',
 'Дельфин_',
 'Cetus A700',
 'МТО',
 'Авиатика-МАИ-890',
 'DA 40 NG',
 'Горыныч',
 'G-202',
 'СР-30',
 'LS-4',
 'JAWS',
 'VILGA 35',
 'А-27МС',
 'Аист-20',
 'АЛ-30',
 'СКС-1-02',
 'АП-21 Зенит',
 'XENON RST EXECUTIVE',
 'Бичкрафт Бонанза',
 'C-A185F',
 'Эльф',
 'МД-20 "Стрейнджер"',
 'СВ-3000',
 'М7-235',
 'Virus SW 100 iS',
 'Урал-16',
 'C150H',
 'LA-8C-RS',
 'C-182S',
 'СП-30Амур1',
 'Zlin Z-42M',
 'Л-42МТ',
 'Cessna-FR-172E',
 'МАИ 223',
 'АХ-8 "Строй Лидер"',
 'INSIGNIA',
 'С-402B',
 'PA-46',
 'АХ-9 Цветной-4000',
 'Ан-74-200',
 'СП-52М',
 'BB20',
 'Тугарин-зт',
 'Космос-М',
 'Maule M-7-235',
 'АТ104 модель 70ТА',
 'Р-30',
 'Авиатика-МАИ-890У',
 'СП-38УМ',
 'М-12 Касатик',
 'АХ-8 Аризан',
 'BB60',
 'Cessna 172R',
 'Sky Wolf',
 'Ту-134Б',
 'Одиссей',
 'ZODIAC CH801 XL',
 'AX-7 "SharNN"',
 'Питенпол',
 'Альбатрос 13',
 'Excelsior',
 'Скай Рейнджер',
 'Agusta A-109E',
 'Х-32 Виват',
 'C-172Z',
 'АХ-7 Тэтрис',
 'FK-9 Mark-3',
 'Ка-26М "Мастер"',
 'АХ-8 АНГЕЛ',
 'Калидус',
 'Бекас-2',
 'Бичкрафт С-23',
 'RV-7A',
 'ПС-52',
 'Cessna-150JKS',
 'М-12КА',
 'АХ-8 Можга',
 'GILES G-202',
 'Че-22 "EAGLE"',
 'ТВС-2МС-2',
 'С-150 Тайфун',
 'С-150 Ларк',
 'Бравоэйр',
 'Як-18Т',
 'Agusta-Bell AB206-B',
 'Pilatus PC-12/47E',
 'Р-20 "Птенец-2"',
 'Мир-7',
 'Экспресс19',
 'Sky Ranger G',
 'Корвет-АТ',
 'Патруль-09СНА',
 'Стимул-008',
 'А-131',
 'СП-30ТЦ',
 'Cessna 182P',
 'Белый лебедь',
 'СокоЛ-29',
 'Аир-Кэмпер',
 'АХ-8 Кедр',
 'MS885-5135',
 'Корвет-J',
 'АХ-8 Союз',
 'АХ-8 Кубидон',
 'Соката MS-893',
 'Skymaster NEO',
 'АИ-9',
 'Х-32-912УТ "Бекас"',
 'FY-101',
 'С-15 А',
 'СП-34',
 'Цессна-172.1',
 'Гаврон',
 'АХ-8 Петровский',
 'ARROW',
 'Beech 200',
 'А-27М28',
 'МД-50 Цон',
 'ФО-07',
 'ВЕГА',
 'Светлый',
 'К-10 Свифт',
 'СП-30ВТ',
 'BB42Z',
 'Птенец 2М',
 'СП-36К "Гренадёр"',
 'АХ-8 Three kings',
 'СН.801',
 'A-319-115',
 'Ту-134СХ',
 'СП-30 РЫСЬ',
 'RV-8',
 'Т-52',
 'CN-150L/T',
 'Л-29 Viper',
 'АХ-8 Арлекино',
 'Мираж',
 'С 172',
 'АХ-7 Урал',
 'Yak-52B',
 'Поиск-06-Стерх',
 'Калидус 01',
 'Кугуар',
 'АХ-8 "Белые звезды"',
 'С-18Т',
 'LAKE BUCANEER 546',
 'Су-31К',
 'SportStar Plus',
 'СП-32УТ',
 'SPORTSMAN',
 'Piaggio FW P 149D',
 'R44',
 'F-172-H',
 'С-18Т.2',
 'А-47',
 'ТВС-2МС-12',
 'Cessna-152',
 'И-3',
 'SP-91',
 'Ан-74ТК-100С',
 'Корнет 055',
 'C-172R-03',
 'СИГМА-Л',
 'АХ-8 "Aeroquest-1"',
 'BO-105CBS-5',
 'Х-34 Бекас',
 'Скай',
 'С-172N',
 'В-35 Кузнечик',
 'VA-7',
 'JANDAR STANDARD 3A-CONDOR',
 'АХ-8 "Мечта"',
 'Аэропракт-22017',
 'Руслан',
 'Поиск-06МТ',
 'Икарус С42Е',
 'АХ-7 "Звезда"',
 'МДП-СХ',
 'СП-22',
 'СП-30М',
 'BLACKSHAPE CF300 "PRIME"',
 'Cueppa P2002',
 'Як-52СМВ',
 'ТАНАРГ',
 'УТС-42 01',
 'Ил-86',
 'Элитар-Сигма Кизляр',
 'СП-30НГ',
 'СП-55Д',
 'Спорт',
 'АХ-8 "Победа"',
 'Патруль-582',
 'Advantic WT10',
 'SKYRANGER',
 'Calidus Maxaero',
 'Bell 427',
 'J-3',
 'БЕКАС 101',
 'Фрегат-СХ-105',
 'Stinson',
 'АХ-8 Magic Flight',
 'А-27М2',
 'ТУКАНО',
 'ЭОЛ',
 'Агропатруль-04',
 'Tiger КРл-22',
 'Аэростар-52',
 'АХ-8 Романтик',
 'ПС-2Б Акробастер',
 'АС-4-115',
 'Р-22М',
 'КАВАЛОН-914С',
 'Авангард-3',
 'X-32',
 'А-33Х',
 'МД-50СМП-3',
 'С-172Р',
 'Х-32Т Бекас',
 'Як-12А',
 'DC-3',
 'Ан-148-100В',
 'Як-52СС',
 'BO-105CBS-4',
 'СЗК-4',
 'СП-30К',
 'EA 300/SC',
 'Зодиак',
 'АХ-8 Сердце Уфы',
 'Cessna T210K',
 'ЕВС-3',
 'ШХ-2',
 'СМ-32',
 'P-28 Skava',
 'Казачок-09',
 'ГЕНЕЗИС',
 'АХ-8 Рада',
 'Коммандер',
 'СОКОЛ 80-84',
 'Arcus M',
 'СК-12 "Орион"',
 'S-52-2',
 'Sky View',
 'АХ-8 Мечта',
 'СП-30 Семерочка',
 'BL-330LC',
 'Спорткруизер',
 'САФАРИ',
 'BD-700-1A10 (Global6000)',
 'СТРЕЛА',
 'REMOS-GX',
 'Exstra 300/SCE',
 'М-12',
 'EC 130 T2',
 'А-22лс БИП',
 ...}

### 2. Какой тип самолета имеет самую раннюю дату выдачи сертификата?

In [5]:
aircraft_df.head()

  Вид воздушного судна  ... дата действующего свидетельства о регистрации
0              самолет  ...                                    11.03.2012
1            дельталет  ...                                    16.03.2012
2              самолет  ...                                    02.06.2006
3            дельталет  ...                                    16.03.2012
4              самолет  ...                                    07.04.2008

[5 rows x 7 columns]

In [6]:
times_str = aircraft_df['дата действующего свидетельства о регистрации'].values

def string_to_datetime(string):
        if string:
            d, m, y = tuple(string.split('.'))
            return datetime.date(int(y), int(m), int(d))

times_datatime = list(map(string_to_datetime, times_str))
time_list = str(min(times_datatime)).split('-')
time_list.reverse()
time_str = '.'.join(time_list)

oldest_plane = aircraft_df.iloc[list(times_str == time_str).index(True), 1]
oldest_plane

'Ан-2'

### 3. Постройте запрос: Владелец аэропорта, Аэропорт, Пассажиропоток суммарный за 2018 год, Грузопоток суммарный за 2018 год

### 4. Перечислите аэропорты, где пассажиропоток меньше медианы, а грузопоток больше медианы

In [7]:
passengers_df = pd.read_csv('passenger transportation.csv', sep=';')
passengers_df = passengers_df.where(~(passengers_df == '***'), None)
passengers_df = passengers_df.where(~pd.isna(passengers_df), None)
passengers_df.head()

  Наименование аэропорта РФ  Год периода данных  ... Декабрь Январь - Декабрь
0                    Абакан                2018  ...    None             None
1                     Айхал                2018  ...    None             None
2                     Алдан                2018  ...    None             None
3                   Амдерма                2018  ...    None             None
4                   Анадырь                2018  ...    None             None

[5 rows x 15 columns]

In [8]:
cargo_df = pd.read_csv('cargo transportation.csv', sep=';')
cargo_df = cargo_df.where(~(cargo_df == '***'), None)
cargo_df = cargo_df.where(~pd.isna(cargo_df), None)
cargo_df.head()

  Наименование аэропорта РФ Год периода данных  ... Декабрь Январь - Декабрь
0                    Абакан              2 018  ...    None             None
1                     Айхал              2 018  ...    None             None
2                     Алдан              2 018  ...    None             None
3                   Амдерма              2 018  ...    None             None
4                   Анадырь              2 018  ...    None             None

[5 rows x 15 columns]

In [9]:
# вычислим медиану пассажиропотока и грузооборота
passengers_np = passengers_df.iloc[:, 2:-1].values.reshape(-1)
passengers_np = np.delete(passengers_np, passengers_np == None)

passengers_ints = sorted(list(map(lambda x: int(x.replace(' ', '')), passengers_np)))
passengers_median = passengers_ints[int(len(passengers_ints)/2)]

cargo_np = cargo_df.iloc[:, 2:-1].values.reshape(-1)
cargo_np = np.delete(cargo_np, cargo_np == None)

cargo_ints = sorted(list(map(lambda x: float(x.replace(',', '.').replace(' ', '')), cargo_np)))
cargo_median = cargo_ints[int(len(cargo_ints)/2)]

passengers_median, cargo_median

(31038, 159.0)

У каждого аэропорта грузопоток и пассажиропоток будем считать средними по известным значениям за год

In [10]:
airports = cargo_df.iloc[:, 0]
def get_mean(x):
    x = np.delete(x, x == None)
    g = lambda y: float(y.replace(' ', '').replace(',', '.'))
    p = list(map(g, x))
    if len(p) == 0:
        return None
    else:
        return np.mean(p)

passengers_means = np.array(list(map(get_mean, passengers_df.iloc[:, 2:-1].values)))
cargo_means = np.array(list(map(get_mean, cargo_df.iloc[:, 2:-1].values)))

def passengers_compare(p):
    if p and passengers_median:
        return p < passengers_median
    else:
        return False

def cargo_compare(c):
    if c and cargo_median:
        return c > cargo_median
    else:
        return False

passengers_comparison = np.array(list(map(passengers_compare, passengers_means)))
cargo_comparison = np.array(list(map(cargo_compare, cargo_means)))
and_comparison = passengers_comparison * cargo_comparison

Список подходящих аэропортов:

In [11]:
airports.values[and_comparison]

array(['Анадырь', 'Мирный', 'Ярославль(Туношна)', 'Анадырь',
       'Комсомольск-на-Амуре', 'Мирный', 'Хатанга', 'Чита(Кадала)',
       'Ярославль(Туношна)', 'Анадырь', 'Благовещенск', 'Кемерово',
       'Комсомольск-на-Амуре', 'Магадан(Сокол)', 'Мирный', 'Хатанга',
       'Чита(Кадала)', 'Ярославль(Туношна)', 'Анадырь', 'Благовещенск',
       'Кемерово', 'Комсомольск-на-Амуре', 'Магадан(Сокол)', 'Мирный',
       'Чита(Кадала)', 'Ярославль(Туношна)', 'Анадырь', 'Благовещенск',
       'Комсомольск-на-Амуре', 'Магадан(Сокол)', 'Мирный', 'Хатанга',
       'Чита(Кадала)', 'Ярославль(Туношна)', 'Анадырь', 'Благовещенск',
       'Комсомольск-на-Амуре', 'Магадан(Сокол)', 'Мирный', 'Хатанга',
       'Чита(Кадала)', 'Ярославль(Туношна)', 'Анадырь', 'Благовещенск',
       'Комсомольск-на-Амуре', 'Ленск', 'Магадан(Сокол)', 'Мирный',
       'Певек', 'Полярный', 'Хатанга', 'Чита(Кадала)',
       'Ярославль(Туношна)', 'Анадырь', 'Кемерово', 'Магадан(Сокол)',
       'Мирный', 'Хатанга', 'Ярославль(Туношна)', 'Анадырь', 'Кемерово',
       'Магадан(Сокол)', 'Мирный', 'Хатанга', 'Ярославль(Туношна)',
       'Анадырь', 'Кемерово', 'Когалым', 'Магадан(Сокол)', 'Мирный',
       'Норильск', 'Полярный', 'Ярославль(Туношна)', 'Анадырь',
       'Благовещенск', 'Когалым', 'Магадан(Сокол)', 'Полярный', 'Хатанга',
       'Ярославль(Туношна)', 'Анадырь', 'Благовещенск', 'Когалым',
       'Магадан(Сокол)', 'Полярный', 'Хатанга', 'Ярославль(Туношна)'],
      dtype=object)


### 5. • Перечислите авиакомпании у которых нет типов воздушных судов зарегистрированных в России

### 6. • Выведите список: Месяц, суммарный пассажиропоток за данный месяц, аэропорт в котором пассажиропоток в данном месяце максимальный

In [12]:
passengers_df = pd.read_csv('passenger transportation.csv', sep=';')
passengers_df = passengers_df.where(~(passengers_df == '***'), None)
passengers_df = passengers_df.where(~pd.isna(passengers_df), None)
passengers_df.head()

  Наименование аэропорта РФ  Год периода данных  ... Декабрь Январь - Декабрь
0                    Абакан                2018  ...    None             None
1                     Айхал                2018  ...    None             None
2                     Алдан                2018  ...    None             None
3                   Амдерма                2018  ...    None             None
4                   Анадырь                2018  ...    None             None

[5 rows x 15 columns]

In [13]:
def str_to_int(x):
    f = lambda y: int(y.replace(' ', '')) if y else y
    return x.apply(f)

pass_months_df = passengers_df.iloc[:, 2:-1].fillna(0)
pass_months_df = pass_months_df.apply(str_to_int)
sum_months_df = pass_months_df.apply(sum)

data = {}
months = passengers_df.iloc[:, 2:-1].columns.values
pass_max = pass_months_df.apply(np.argmax).values
for month, idx in zip(months, pass_max):
    data[month] = passengers_df.iloc[idx, 0]
final_df = pd.DataFrame(pd.Series(data), 
                        columns=['аэропорт с максимальным пассажиропотоком'])
final_df['суммарный пассажиропоток'] = sum_months_df
final_df

         аэропорт с максимальным пассажиропотоком  суммарный пассажиропоток
Январь                        Москва(Шереметьево)                  92581956
Февраль                       Москва(Шереметьево)                  84279197
Март                          Москва(Шереметьево)                  97548315
Апрель                        Москва(Шереметьево)                 103999255
Май                           Москва(Шереметьево)                 120740351
Июнь                          Москва(Шереметьево)                 146081971
Июль                          Москва(Шереметьево)                 167043305
Август                        Москва(Шереметьево)                 171378013
Сентябрь                      Москва(Шереметьево)                 148372441
Октябрь                       Москва(Шереметьево)                 108301174
Ноябрь                        Москва(Шереметьево)                  91962821
Декабрь                       Москва(Шереметьево)                  91356375

### 7. • Выведите список: Тип аэропорта, средний грузопоток в месяц в аэропортах данного типа

In [14]:
data = {
    'Наименование аэропорта РФ': cargo_df.iloc[:, 0].values,
    'средний грузопоток': cargo_means,
}
pd.DataFrame(data)

     Наименование аэропорта РФ средний грузопоток
0                       Абакан            70.9444
1                        Айхал               None
2                        Алдан               None
3                      Амдерма               None
4                      Анадырь            165.849
...                        ...                ...
3468                    Якутск            1131.45
3469             Якутск(Маган)               None
3470                    Ямбург             4.6325
3471        Ярославль(Туношна)            1271.91
3472                    Ярцево               None

[3473 rows x 2 columns]